streamlit>=1.35.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
faiss-cpu>=1.11.0
pypdf==5.9.0
tiktoken==0.11.0
groq==0.31.0
python-dotenv==1.0.1
